/* //button icon functionality */

.back-icon-button:hover,
.button-one:hover,
.button-two:hover,
.previous-button:hover,
.next-button:hover {
    cursor: pointer;
    transform: scale(1.4, 1.4);
}

.links-body>li:hover {
    animation: shake .5s cubic-bezier(0, .53, 0, 1);
}

.mdl-number:hover {
    opacity: 1;
    animation: shake .4s cubic-bezier(0, .43, 0, 1) none;
}

.more-info:hover {
    cursor: pointer;
    transform: scale(1.07, 1.07);
    animation: shake .4s cubic-bezier(0, .43, 0, 1) none;
}

.dropdown-btn-one,
.dropdown-btn-two {
    animation: Dropdown 2s cubic-bezier(0, .5, 0, 1) forwards;
}

.slideRight-back-button,
.slideRight-previous-button {
    animation: SlideRight 2s cubic-bezier(0, .5, 0, 1) forwards;
}

.slideLeft-next-button {
    animation: slideleft 2s cubic-bezier(0, .5, 0, 1) forwards;
}

.model-name-animation {
    animation: Dropdown 3s cubic-bezier(0, .5, 0, 1) forwards;
}

.model-name-animation:hover {
    animation: shake .3s cubic-bezier(0, .5, 0, 1);
}

.model-background-animation {
    opacity: 0;
    animation: fadeIn 2s 10ms cubic-bezier(0, .5, 0, 1) forwards;
}

.model-city-animation {
    opacity: 0;
    animation: SlideUp 2s .5s cubic-bezier(0, .5, 0, 1) forwards;
}

.mdl-number-animation {
    opacity: 0;
    animation: SlideUp 2s cubic-bezier(0, .43, 0, 1) forwards;
}


/* home page animations */

.header-name {
    opacity: 0;
    animation: slideleft 2s cubic-bezier(0, .5, 0, 1) forwards;
}

.title {
    opacity: 0;
    animation: Dropdown 4s .5s cubic-bezier(0, .5, 0, 1) forwards;
}

.welcome-note {
    opacity: 0;
    animation: SlideRight 4s 1s cubic-bezier(0, .5, 0, 1) forwards;
}

.btn {
    opacity: 0;
    animation: fadeIn_ 3s 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

.btn- {
    transition: all .3s cubic-bezier(0.19, .7, 0.22, 1);
}

.btn-:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.nav-icon:hover {
    cursor: pointer;
}

.hme-anchor-animation {
    animation: Dropdown 2s cubic-bezier(0, .5, 0, 1) forwards;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes Dropdown {
    0% {
        opacity: 0;
        transform: translate(0px, -30px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, initial)
    }
}

@keyframes SlideUp {
    0% {
        opacity: 0;
        transform: translate(0px, 40px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, initial)
    }
}

@keyframes SlideRight {
    0% {
        opacity: 0;
        transform: translate(-30px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate(initial, 0px)
    }
}

@keyframes slideleft {
    0% {
        opacity: 0;
        transform: translate(30px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate(initial, 0px)
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(-50px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate(initial, 0px);
    }
}

@keyframes fadeIn_ {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}