@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@500&display=swap');
body {
    margin: 0px;
    overflow: auto;
}

* {
    box-sizing: content-box;
}

.body-container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}

.bdy-cnt {
    position: relative;
    display: none;
    width: 80%;
    height: 80%;
}

.body-animation {
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    animation: fadeIn 2s cubic-bezier(0, 0.5, 0, 1) forwards;
}

.model-image-viewer-container {
    background-image: url(../img/models/monica.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 1;
}

.information-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 300px;
    box-shadow: 5px 5px 30px #a5a5a567;
}

.info-nav-cnt {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 20px;
}

.back-icon-button-container>img {
    opacity: 0;
    filter: drop-shadow(2px 2px 1px rgba(60, 60, 60, 0.337));
    margin-left: 20px;
    width: 13px;
    height: auto;
}

.two-button-container>img {
    opacity: 0;
    margin-right: 30px;
    filter: drop-shadow(2px 2px 1px rgba(60, 60, 60, 0.337));
    width: 13px;
    height: auto;
}

.two-button-container {
    display: flex;
    justify-content: space-evenly;
    width: auto;
}

.browse-model-container>img {
    opacity: 0;
    filter: drop-shadow(2px 2px 1px rgba(60, 60, 60, 0.337));
    width: 9px;
    height: auto;
}

.browse-model-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.previous-button {
    margin-left: 40px;
    /* opacity: 0; */
}

.next-button {
    /* opacity: 0; */
    margin-right: 40px;
}

.model-info-cnt {
    margin: auto;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    padding: 60px;
    width: 50%;
    height: 60%;
}

.model-name {
    font-family: 'Passion One', cursive;
    margin: 0px 0px 0px 0px;
    font-size: 2em;
    line-height: 45px;
    font-weight: bold;
    text-shadow: 2px 2px 15px rgba(142, 142, 142, 0.256);
}

.model-city {
    color: gray;
    font-weight: bold;
    font-variant: normal;
}

.model-background {
    width: 100%;
    font-weight: bold;
    font-size: .65em;
    font-family: 'Public Sans', sans-serif;
    color: rgb(0, 0, 0);
    text-align: left;
    line-height: 17px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.more-info {
    background-color: rgb(255, 136, 57);
    font-weight: 700;
    border: none;
    outline: none;
    padding: 8px;
}

.mdl-number {
    font-size: medium;
    font-weight: bold !important;
}

.nav-cnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.707) !important;
    width: 50px;
    height: 50px;
    z-index: 1;
}

.nav-links {
    display: none;
    padding: 0px;
    margin: 0px;
}

.nav-bar-button {
    width: 20px;
    height: auto;
    float: right;
    position: relative;
    z-index: 2;
}

.links-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    margin: auto;
}

.nav-cnt-down {
    position: absolute;
    transition: all 0.9s cubic-bezier(0, .5, 0, 1);
}

.nav-cnt-down {
    width: 100%;
    height: 100%;
}

.links-body>li {
    list-style: none;
    padding: 20px;
    opacity: 0;
    transition: all .4s 1s cubic-bezier(0, .5, 0, 1);
}

.links-body>li {
    opacity: 1;
}

.links-body>li>a {
    text-decoration: none;
    color: white !important;
    font-size: 50px;
    font-weight: bold;
}

.icon_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button-cnt {
    display: block;
    padding: 20px;
}

.nav-icon-trans {
    float: right;
    margin-right: 40px;
    /* transform: translate(-30px, 250px); */
}

.model-display {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 218, 185, 0.317);
    position: absolute;
    z-index: 5;
}