@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    box-sizing:border-box;
}

body {
    margin:0px;
    padding: 0px;
}
.bdy-cnt{
    width:100vw;
    height: 100vh;
    display:flex;
}
.cntcnt{
    margin: auto;
    display : flex;
    width: 60vw;
    height: 100px;
    overflow: hidden;
    text-align: center;
    /* background-color: yellow; */
}

.cnt{
    display : flex;
    text-align: center;
    height: 100px;
    padding-left: 300px;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    color: rgba(65, 65, 65, 0.529);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.42, .879);
    /* background-color: deeppink; */
}
.inwrd,.inerr{
    /* width: 20px; */
    height: 70px;
    border-radius:10%;
    padding: 10px;
    text-align: center;
}
.inwrd{
    position: relative;
    background-color: rgba(250, 235, 215, 0.159);
}
.inerr{
    padding: 15px;
    margin-right: 3px;
    background-color: rgba(255, 99, 71, 0.405);
    color: tomato;
}
.active{
    color: black;
}
.active::before{
    content: attr(title);
    background-color:rgba(255, 0, 0, 0.344);
    color: tomato;
}
.active::after{
    position: absolute;
    right:15px;
    bottom:0px;
    content:"";
    width: 0px;
    height: 0px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid rgb(104, 122, 255);
}
